.Cell {
  box-sizing: border-box;
  height: 8vh;
  width: 8vh;
  border-radius: 2px;
  border: 2px solid var(--gray-2);
  transition: background-color .5s;
  text-align: center;
  font-size: 6vh;
}

.pending {
  background-color: var(--gray-2);
  animation: inputGrow .25s ease-in-out;
}

td:nth-child(1):not(.empty):not(.pending) {
  animation: score .6s ease-in-out;
}

td:nth-child(2):not(.empty):not(.pending) {
  animation: score .6s ease-in-out;
  animation-delay: 100ms;
}

td:nth-child(3):not(.empty):not(.pending) {
  animation: score .6s ease-in-out;
  animation-delay: 200ms;
}

td:nth-child(4):not(.empty):not(.pending) {
  animation: score .6s ease-in-out;
  animation-delay: 300ms;
}

td:nth-child(5):not(.empty):not(.pending) {
  animation: score .6s ease-in-out;
  animation-delay: 400ms;
}

@keyframes inputGrow {
  50% {
    transform: scale(1.05);
    box-shadow: 0px 2px 5px var(--gray-shadow);
  };
  100% {
    transform: scale(1);
  }
}

@keyframes score {
  50% {
    transform: scale(1.10);
    box-shadow: 2px 3px 10px var(--gray-shadow);
  };
  100% {
    transform: scale(1);
  }
}