.Keyboard {
  margin: 3vh 2vw;
  height: 40%;
}

.Keyboard-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 100%;
  gap: 2px;
}

.Keyboard-row {
  box-sizing: border-box;
  width: 100%;
  height: 30%;
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 1px;
}

.row-0, .row-2 {
  justify-content: space-around;
}

.row-1 {
  justify-content: center;
}

@media (max-width: 420px)  {
  .Keyboard {
    width: 100%;
  }
  .Keyboard-row {
    gap: 3px;
    padding: 1px 5px;
  }
  .row-1 {
    justify-content: space-evenly;
  }
}