.Keyboard {
  margin: 3vh 2vw;
}

.Keyboard-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 500px;
  min-width: 300px;
}

.Keyboard-row {
  border: 1px solid red;
  width: 100%;
  display: flex;
  gap: 2vw;
}

.row-0, .row-2 {
  justify-content: space-around;
}

.row-1 {
  justify-content: space-evenly;
}