.Statistics {
  position: relative;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.Statistics-enter, .Statistics-enter-active, .Statistics-enter-done,
.Statistics-exit, .Statistics-exit-active {
  position: absolute;
}

.Statistics-enter {
  top: 100vh;
}

.Statistics-enter-active {
  top: 0px;
  transition: all .5s ease-in-out;
}

.Statistics-enter-done {
  top: 0px;
}

.Statistics-exit {
  opacity: 1;
  top: 0px;
}

.Statistics-exit-active {
  opacity: .5;
  top: 100vh;
  transition: opacity .1s linear .2s, top .25s ease-out .1s;
}

.Statistics-inner {
  width: inherit;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 100px;
}

.Statistics-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Statistics-card-container {
  display: flex;
  justify-content: space-evenly;
}

.Statistics-x {
  position: absolute;
  top: 30px;
  right: 10px;
  transition-duration: .2s;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.Statistics-x:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 550px) {
  .Statistics-inner {
    padding: 0 5vw;
  }
}