.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(66, 96, 96);
  height: 7vh;
  min-height: 60px;
  padding: 0 25px;
}

.Header-Content {
  height: 100%;
  display: flex;
  align-items: center;
}

.Header-Content i {
  font-size: 25px;
  margin: 0 5px;
  cursor: pointer;
  transition-duration: .15s;
  transition-timing-function: ease-out;
}

.Header a {
  color: black;
  text-decoration: none;
}

.Header a.active {
  color: black;
  text-decoration: none;
}

.Header-Content a.active {

}

.Header-Content i:hover {
  opacity: .5;
}


.Header-Logo {
  text-shadow: 1px 1px 3px  rgb(66, 96, 96);
}