.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-game {
  flex-direction: column;
  height: calc(100vh - 7vh - 50px);
  /* height: 100dvh; */
  /* height: calc(100vh - 7vh - 50px); */
}

@keyframes wiggle {
  0% {
    right: 0;
  }
  20% {
    right: -40px;
  }
  40% {
    right: 30px;
  }
  60% {
    right: -20px;
  }
  80% {
    right: 10px;
  }
  100% {
    right: 0;
  }
}

.correct, .incorrect, .partial {
  color: white;
}

.correct {
  background-color: var(--correct-green);
}

.partial {
  background-color: var(--partial-yellow);
}

.incorrect {
  background-color: var(--gray-5);
}

@media (max-width: 550px) {
  .main-game {
    /* height: calc(100vh - 20vh - 50px); */
    justify-content: flex-start;
  }
}