.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wiggle {
  0% {
    right: 0;
  }
  20% {
    right: -40px;
  }
  40% {
    right: 30px;
  }
  60% {
    right: -20px;
  }
  80% {
    right: 10px;
  }
  100% {
    right: 0;
  }
}

.correct, .incorrect, .partial {
  color: white;
}

.correct {
  background-color: #6cac64;
}

.partial {
  background-color: #ccb45c;
}

.incorrect {
  background-color: #7c7c7c;
}